<mat-card>
  <mat-card-header>
    <div mat-card-avatar><img id="photo" [src]="imageToShow || '/assets/amazon.png'" class="mat-card-avatar"></div>
    <div *ngIf="isLogged(); else titleDisconnected">
      <mat-card-title>{{firstName}}</mat-card-title>
      <mat-card-subtitle>{{nickName}}</mat-card-subtitle>
    </div>
    <ng-template #titleDisconnected>
      <div>
        <mat-card-title>Amazon</mat-card-title>
        <mat-card-subtitle>Connexion</mat-card-subtitle>
      </div>
    </ng-template>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="!isLogged(); else contentDisconnect">
      <div *ngIf="isLinked()">
        <p>Vous avez avec déjà un compte Amazon lié à nos service mais vous pouvez en ajouter un autre !</p>
      </div>
      <div *ngIf="!isLinked()">
        <p>Identifiez-vous avec Amazon pour utiliser l'assistant sur Amazon Echo !</p>
      </div>
    </div>
    <ng-template #contentDisconnect>
      <p>Vous etes actuellement connecté avec Amazon.</p>
    </ng-template>
    <div class="flex-center">
      <div *ngIf="!isLogged(); else buttonDisconnect">
        <div *ngIf="popup; else login">
          <!--<div class="lds-dual-ring"></div>-->
          <lottie-animation-view
            [options]="animationLoading"
            [width]="100"
            [height]="100"
            (animCreated)="handleAnimationLoading($event)">
          </lottie-animation-view>
        </div>
        <ng-template #login>
          <div *ngIf="endPopup; else endPopupLogin">
            <div *ngIf="logged; else notLogin">
              <lottie-animation-view
                [options]="animationSuccess"
                [width]="100"
                [height]="100"
                (animCreated)="handleAnimationSuccess($event)">
              </lottie-animation-view>
            </div>
            <ng-template #notLogin>
              <lottie-animation-view
                [options]="animationError"
                [width]="100"
                [height]="100"
                (animCreated)="handleAnimationError($event)">
              </lottie-animation-view>
            </ng-template>
          </div>
          <ng-template #endPopupLogin>
            <button matTooltip="S'identifier" (click)="loginAmazon()" mat-raised-button>
              <img class="amazon-logo" src="/assets/amazon.png">
              Connexion
            </button>
          </ng-template>
        </ng-template>
      </div>
      <ng-template #buttonDisconnect>
        <button matTooltip="Se déconnecter" (click)="logoutAmazon()" mat-raised-button>
          Déconnexion
        </button>
      </ng-template>
    </div>
    <div *ngIf="isLinked()">
      <p>
        Si vous ne souhaitez plus lier vos comptes Amazon avec nos services cliquez ici :
        <button class="chip-color-blue" (click)="unLink()" mat-mini-fab>
          <mat-icon matTooltip="Ne plus lier avec Amazon" aria-label="">link_off</mat-icon>
        </button>
      </p>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip>Amazon</mat-chip>
      <div *ngIf="isLogged(); else disconnected">
        <mat-chip class="chip-color-green">Connecté</mat-chip>
      </div>
      <ng-template #disconnected>
        <mat-chip class="chip-color-red">Déconnecté</mat-chip>
      </ng-template>
      <div *ngIf="isLinked()">
        <mat-chip class="chip-color-blue">Linké</mat-chip>
      </div>
    </mat-chip-list>
  </mat-card-actions>

</mat-card>
