@media only screen and (min-device-width: 320px) {
  mat-card {
    min-width: 260px;
    max-width: 260px;
  }
}

@media only screen and (min-device-width: 375px) {
  mat-card {
    min-width: 322px;
    max-width: 322px;
  }
}

@media only screen and (min-device-width: 425px) {
  mat-card {
    min-width: 360px;
    max-width: 360px;
  }
}

@media only screen and (min-device-width: 768px) {
  mat-card {
    min-width: 450px;
    max-width: 450px;
  }
}

@media only screen and (min-device-width: 1440px)  {
  mat-card {
    min-width: 525px;
    max-width: 525px;
  }
}

@media only screen and (min-device-width: 1600px)  {
  mat-card {
    min-width: 600px;
    max-width: 600px;
  }
}

@media only screen and (min-device-width: 1900px)  {
  mat-card {
    min-width: 700px;
    max-width: 700px;
  }
}

.mat-card {
  position: relative;
  margin: 10px;
  min-height: 270px;
}

.mat-card-content {
  min-height: 130px;
}

.chip-color-green {
  background-color: #74EE3B;
  color: white;
}

.chip-color-red {
  background-color: #ff4081;
  color: white;
}

.chip-color-blue {
  background-color: #00bfff;
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
}
