<header>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">Epitech Assistant</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{me.givenName}} {{me.surname}}<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i (click)="logout()" class="large material-icons">exit_to_app</i>
  </a>
</div>
</main>
